<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Habit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_habit.css') }}">
</head>
<body>
    <h1>Edit Habit</h1>
    <form method="POST">
    <label for="title">New Title:</label>
    <input type="text" name="title" id="title" value="{{ habit.title }}"><br><br>

    <label for="category_id">New Category:</label>
    <select name="category_id" id="category_id" required>
        {% for category in categories %}
            <option value="{{ category.id }}" {% if category.id == habit.category_id %}selected{% endif %}>
            {{ category.name }}
            </option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Save Changes</button>
    <a href="{{ url_for('calendar') }}"><button type="button">Cancel</button></a>
</form>
    
</body>
</html>